streamlit>=1.33

python-dotenv>=1.0

langchain-core>=0.2
langchain-community>=0.2
langchain-openai>=0.1
langchain-text-splitters>=0.2

openai>=1.0
tiktoken>=0.5

faiss-cpu>=1.7
pymupdf>=1.23
